# Unsupervised K-means Movie Critic Sentiment Estimator

## An experiment to see if I can make an unsupervised "positive/negative" review estimator by myself

### Step 1) Load the data

In [22]:
import pandas as pd
import numpy as np
import os

In [54]:
root = './aclImdb/train/'

data = pd.DataFrame({'body_text' : pd.Series([], dtype = 'str')})
for filename in os.listdir(root + 'neg/'):
    with open(root + 'neg/' + filename, 'r', encoding = 'utf8') as file:
        text = file.read().replace('\n', '')
        data.loc[len(data)] = text
        
for filename in os.listdir(root + 'pos/'):
    with open(root + 'pos/' + filename, 'r', encoding = 'utf8') as file:
        text = file.read().replace('\n', '')
        data.loc[len(data)] = text

In [55]:
data.head()

                                           body_text
0  Story of a man who has unnatural feelings for ...
1  Airport '77 starts as a brand new luxury 747 p...
2  This film lacked something I couldn't put my f...
3  Sorry everyone,,, I know this is supposed to b...
4  When I was little my parents took me along to ...

In [56]:
data.to_csv(root + 'reviewFrameRaw.csv', sep = '\t')

In [57]:
data.head()

                                           body_text
0  Story of a man who has unnatural feelings for ...
1  Airport '77 starts as a brand new luxury 747 p...
2  This film lacked something I couldn't put my f...
3  Sorry everyone,,, I know this is supposed to b...
4  When I was little my parents took me along to ...

### Step 2) Clean and vectorize the data

In [44]:
import nltk
import re
import string
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [86]:
data = pd.read_csv(root + 'reviewFrameRaw.csv', sep = '\t', index_col = 0)
data.head()

                                           body_text
0  Story of a man who has unnatural feelings for ...
1  Airport '77 starts as a brand new luxury 747 p...
2  This film lacked something I couldn't put my f...
3  Sorry everyone,,, I know this is supposed to b...
4  When I was little my parents took me along to ...

In [87]:
wn = nltk.WordNetLemmatizer()
stopwords = nltk.corpus.stopwords.words('english')
def clean(text):
    text = ''.join([char for char in text if char not in string.punctuation])
    text = re.sub('<br />', ' ', text)
    tokenized = re.findall('\w+', text.lower())
    text = [wn.lemmatize(word) for word in tokenized if word not in stopwords]
    return text

In [88]:
data['body_text_clean'] = data['body_text'].apply(lambda x: clean(x))

In [89]:
data.head()

,body_text,body_text_clean
0,Story of a man who has unnatural feelings for ...,"[story, man, unnatural, feeling, pig, start, o..."
1,Airport '77 starts as a brand new luxury 747 p...,"[airport, 77, start, brand, new, luxury, 747, ..."
2,This film lacked something I couldn't put my f...,"[film, lacked, something, couldnt, put, finger..."
3,"Sorry everyone,,, I know this is supposed to b...","[sorry, everyone, know, supposed, art, film, w..."
4,When I was little my parents took me along to ...,"[little, parent, took, along, theater, see, in..."

### Step 3) Build and run the model!

### Step 4) Test and compare the model!

In [ ]:
import matplotlib.pyplot as plt